{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2 class="my-3 mb-5">Your balance:</h1>
     <div class="table-responsive">
        <table class="table table-striped table-sm text-lefT table-hover mx-auto w-100">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td class="text-right"><strong>{{ usd(total + user_cash) }}</strong></td>
                </tr>
            </tfoot>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td class="text-left">{{ row["symbol"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["amount"] }}</td>
                    <td>{{ usd(row["actual_price"]) }}</td>
                    <td class="text-right">{{ usd(row["actual_price"]*row["amount"]) }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td colspan="4" class="text-left">CASH</td>
                    <td class="text-right">{{ usd(user_cash) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
