{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2 class = "py-4">Please log in to continue</h2>
    <p class="test-muted">Or use user: test123, password: test123</p>
    <div class="card px-sm-4 mt-2 login-card hv-center shadow">
      <form class="p-2"  action="/login" method="post">
        <div class="form-group text-left mt-3">
          <label class="font-weight-bold">Username</label>
          <input type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter your user name"
            required
          />
        </div>
        <div class="form-group text-left mt-4">
          <label class="font-weight-bold">Password</label>
          <input type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button
          id = "login-btn"
          type="submit"
          class="btn btn-dark my-3 px-5 submitBtn float-left full-width"
        >
          Login
        </button>
        <a
            href = "register"
            role ="button"
            type="button"
            class="btn btn-info my-3 px-4 submitBtn float-right full-width">
           Create Account
        </a>
      </form>
    </div>
{% endblock %}
