{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
  <div class="card py-5 px-3 my-3 login-card hv-center shadow">
    <p>You currently have {{ user_cash }}.</p>
    <form method="post" action="sell">
        <div class="form-group text-center mt-3">
            <select style="max-width: 200px"
                class="form-control"
                id="stocksymbol"
                name="stocksymbol"
                required>
            <option disabled="" selected="" value="">Symbol</option>
                {% for row in rows %}
                <option value="{{row["symbol"]}}">{{row["symbol"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group text-center mt-3">
            <label class="font-weight-bold">Enter amount of stocks:</label>
            <input type="number"
                style="max-width: 200px"
                class="form-control"
                id="stockAmount"
                name="stockAmount"
                placeholder="1"
                min="1"
                required
              />
        </div>
        <button class="btn btn-lg btn-info submitBtn mt-3 px-5 py-2" type="submit">
            Sell
        </button>
    </form>
</div>
{% endblock %}
